[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PDFEstimator"]
	path = PDFEstimator
	url = https://github.com/cran/PDFEstimator
